langgraph
langchain
langchain-core
langchain-groq
langchain-community
langchain-classic
langchain-text-splitters
fastapi
uvicorn
streamlit
python-dotenv
pydantic
tenacity
httpx
sentence-transformers
pandas
pypdf
openpyxl
xlrd
python-multipart
requests
chromadb